{{>layout/header}}

<h2>Spring Security Sample 웹 서비스</h2>

<a href="/posts" role="button" class="btn btn-primary">사용자 컨텐츠 이동</a>
<a href="/login/login" role="button" class="btn btn-info active">로그인</a>

{{>layout/footer}}
<script></script>
